# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the Pandas commands learned in the previous lesson to learn more about our data!

## Objectives
You will be able to: 
- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the data

Load the file `'WorldCupMatches.csv'` as a DataFrame in Pandas.

In [1]:
# Import pandas using the standard alias
import pandas as pd

# Import 'WorldCupMatches.csv' as a DataFrame
dataframe = pd.read_csv('WorldCupMatches.csv')

## Common methods and attributes

Use the correct method to look at the first 7 rows of the dataset.

In [2]:
# Print the first 7 rows of df
dataframe.head(7)

   Year              Datetime  ... Home Team Initials Away Team Initials
0  1930  13 Jul 1930 - 15:00   ...                FRA                MEX
1  1930  13 Jul 1930 - 15:00   ...                USA                BEL
2  1930  14 Jul 1930 - 12:45   ...                YUG                BRA
3  1930  14 Jul 1930 - 14:50   ...                ROU                PER
4  1930  15 Jul 1930 - 16:00   ...                ARG                FRA
5  1930  16 Jul 1930 - 14:45   ...                CHI                MEX
6  1930  17 Jul 1930 - 12:45   ...                YUG                BOL

[7 rows x 20 columns]

Look at the last 3 rows of the data set.

In [3]:
# Print the last 3 rows of df
dataframe.tail(3)

     Year              Datetime  ... Home Team Initials Away Team Initials
849  2014  09 Jul 2014 - 17:00   ...                NED                ARG
850  2014  12 Jul 2014 - 17:00   ...                BRA                NED
851  2014  13 Jul 2014 - 16:00   ...                GER                ARG

[3 rows x 20 columns]

Get a concise summary of the data using `.info()`.

In [4]:
# Print a concise summary of df
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
Year                    852 non-null int64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null int64
Away Team Goals         852 non-null int64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null int64
Half-time Away Goals    852 non-null int64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null int64
MatchID                 852 non-null int64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the number of rows and number of columns

In [5]:
# Print the number of rows and columns in df
dataframe.shape

(852, 20)

Use the appropriate attribute to get the column names

In [6]:
# Print the column names of df
dataframe.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame information

When looking at the DataFrame's `.head()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [10]:
# Print rows 3 through 5
dataframe.loc[3:5]

   Year              Datetime  ... Home Team Initials Away Team Initials
3  1930  14 Jul 1930 - 14:50   ...                ROU                PER
4  1930  15 Jul 1930 - 16:00   ...                ARG                FRA
5  1930  16 Jul 1930 - 14:45   ...                CHI                MEX

[3 rows x 20 columns]

Now, print all the info from game 5-9, but we're only interested in printing out the, "Home Team Name" and the, "Away Team Name."

In [12]:
# Print rows 5 through 9 and columns 'Home Team Name' and 'Away Team Name'
dataframe.loc[5:9, ['Home Team Name', 'Away Team Name']]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [46]:
# Print all info for games played in 1950 for Group 3
dataframe.loc[(dataframe["Year"] == 1950) & (dataframe["Stage"] == "Group 3")]

    Year              Datetime  ... Total_goals Half-time Goals
56  1950  25 Jun 1950 - 15:00   ...           5               3
61  1950  29 Jun 1950 - 15:30   ...           4               3
65  1950  02 Jul 1950 - 15:00   ...           2               1

[3 rows x 22 columns]

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games.

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [21]:
# Print the 'Attendance' column for games played in 1950 for Group 3
dataframe.loc[(dataframe['Year'] == 1950) & (dataframe['Stage'] == 'Group 3'), 'Attendance']

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the World Cup, how many home games were played by the Netherlands?

In [24]:
# Number of home games played by the Netherlands
Neth_home = dataframe[dataframe['Home Team Name'] == ('Netherlands')] 
print(len(Neth_home))

32

How many games were played by the Netherlands in total?

In [27]:
# Number of games played by the Netherlands in total
Neth_away = dataframe[dataframe['Away Team Name'] == ('Netherlands')]
print(len(Neth_home)+len(Neth_away))

54

Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [50]:
# Number of games the USA played in the 2014 world cup
USA_games = dataframe[(dataframe['Year']==2014)
                         &
                       ((dataframe['Home Team Name'] == 'USA') 
                        
                        |
                        
                        (dataframe['Away Team Name'] == 'USA'))]
print(len(USA_games))

5

Now, let's try to find out how many countries participated in the 1986 World Cup.

Hint 1: as a first step, create a new dataset that only contains games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [30]:
# Number of countries participated in the 1986 world cup
games_86 = dataframe[dataframe['Year'] == 1986]

home = list(games_86['Home Team Name'].unique())

away = list(games_86['Away Team Name'].unique())

print(len(home)+(len(away)))

48

In [52]:
away

['Italy',
 'France',
 'Brazil',
 'Hungary',
 'Korea Republic',
 'Poland',
 'Northern Ireland',
 'Mexico',
 'England',
 'Iraq',
 'Denmark',
 'Germany FR',
 'Argentina',
 'Soviet Union',
 'Bulgaria',
 'Canada',
 'Algeria',
 'Morocco',
 'Spain',
 'Paraguay',
 'Portugal',
 'Belgium',
 'Uruguay',
 'Scotland']

In World Cup history, how matches had more than 5 goals in total?

In [40]:
# Number of matches that had more than 5 goals in total
dataframe['Total_goals'] = dataframe['Home Team Goals'] + dataframe['Away Team Goals']
print(len(dataframe[dataframe['Total_goals'] >5]))

74

In [41]:
dataframe.shape

(852, 21)

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column, "Half-time Goals."

In [42]:
# Create a new column 'Half-time Goals' in df
dataframe['Half-time Goals'] = dataframe['Half-time Away Goals'] + dataframe['Half-time Home Goals']

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [44]:
# Print all records containing the string 'Korea'
dataframe.loc[dataframe['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [62]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
dataframe.loc[dataframe['Home Team Name'] == 'Korea DPR', 'Home Team Name'] = 'Korea'
dataframe.loc[dataframe['Home Team Name'] == 'Korea Republic', 'Home Team Name'] = 'Korea'
dataframe.loc[dataframe['Away Team Name'] == 'Korea DPR', 'Away Team Name'] = 'Korea'
dataframe.loc[dataframe['Away Team Name'] == 'Korea Republic', 'Away Team Name'] = 'Korea'
dataframe.loc[dataframe['Home Team Initials'] == 'KOR', 'Home Team Initials'] = 'NSK'
dataframe.loc[dataframe['Home Team Initials'] == 'PRK', 'Home Team Initials'] = 'NSK'
dataframe.loc[dataframe['Away Team Initials'] == 'KOR', 'Away Team Initials'] = 'NSK'
dataframe.loc[dataframe['Away Team Initials'] == 'PRK', 'Away Team Initials'] = 'NSK'

Make sure to verify your answer!

In [63]:
# Check the updated columns
dataframe.loc[dataframe['Home Team Name'].str.contains('Korea')]

     Year              Datetime  ... Total_goals Half-time Goals
179  1966  15 Jul 1966 - 19:30   ...           2               1
187  1966  19 Jul 1966 - 19:30   ...           1               1
374  1986  05 Jun 1986 - 16:00   ...           2               1
386  1986  10 Jun 1986 - 12:00   ...           5               1
434  1990  17 Jun 1990 - 21:00   ...           4               2
444  1990  21 Jun 1990 - 17:00   ...           1               0
480  1994  23 Jun 1994 - 19:30   ...           0               0
524  1998  13 Jun 1998 - 17:30   ...           4               1
593  2002  04 Jun 2002 - 20:30   ...           2               1
609  2002  10 Jun 2002 - 15:30   ...           2               1
635  2002  18 Jun 2002 - 20:30   ...           3               0
642  2002  29 Jun 2002 - 20:00   ...           5               4
655  2006  13 Jun 2006 - 15:00   ...           3               1
710  2010  12 Jun 2010 - 13:30   ...           2               1
753  2010  25 Jun 2010 - 16:00   ...           3               2
802  2014  22 Jun 2014 - 16:00   ...           6               3
818  2014  26 Jun 2014 - 17:00   ...           1               0

[17 rows x 22 columns]

## Summary

In this lab, you learned how to access data within Pandas!